In [2]:
import pandas as pd
import numpy as np
import psycopg2
import matplotlib.pyplot as plt

%matplotlib inline
pd.set_option("display.max_colwidth", 200)

In [11]:

conn = psycopg2.connect(host="localhost",database="mimic", user="postgres", password='postgres', port = '5432')
cursor = conn.cursor()

In [4]:
sql = """
SELECT row_id, icd9_code, short_title, long_title
  FROM mimiciii.d_icd_diagnoses
  where long_title like '%kidney disease%'
  order by icd9_code
  """
df = pd.read_sql_query(sql, conn)

In [5]:
# diagnosis that correspond to kidney diease
# currently pulling out 585.6 and 585.6 for end state renal disease which requires dialysis.
# should we pull out others? 
df

,row_id,icd9_code,short_title,long_title
0,3142,28521,Anemia in chr kidney dis,Anemia in chronic kidney disease
1,4311,40300,Mal hy kid w cr kid I-IV,"Hypertensive chronic kidney disease, malignant, with chronic kidney disease stage I through stage IV, or unspecified"
2,4312,40301,Mal hyp kid w cr kid V,"Hypertensive chronic kidney disease, malignant, with chronic kidney disease stage V or end stage renal disease"
3,4313,40310,Ben hy kid w cr kid I-IV,"Hypertensive chronic kidney disease, benign, with chronic kidney disease stage I through stage IV, or unspecified"
4,4314,40311,Ben hyp kid w cr kid V,"Hypertensive chronic kidney disease, benign, with chronic kidney disease stage V or end stage renal disease"
5,4315,40390,Hy kid NOS w cr kid I-IV,"Hypertensive chronic kidney disease, unspecified, with chronic kidney disease stage I through stage IV, or unspecified"
6,4316,40391,Hyp kid NOS w cr kid V,"Hypertensive chronic kidney disease, unspecified, with chronic kidney disease stage V or end stage renal disease"
7,4317,40400,Mal hy ht/kd I-IV w/o hf,"Hypertensive heart and chronic kidney disease, malignant, without heart failure and with chronic kidney disease stage I through stage IV, or unspecified"
8,4318,40401,Mal hyp ht/kd I-IV w hf,"Hypertensive heart and chronic kidney disease, malignant, with heart failure and with chronic kidney disease stage I through stage IV, or unspecified"
9,4319,40402,Mal hy ht/kd st V w/o hf,"Hypertensive heart and chronic kidney disease, malignant, without heart failure and with chronic kidney disease stage V or end stage renal disease"
10,4320,40403,Mal hyp ht/kd stg V w hf,"Hypertensive heart and chronic kidney disease, malignant, with heart failure and with chronic kidney disease stage V or end stage renal disease"
11,4321,40410,Ben hy ht/kd I-IV w/o hf,"Hypertensive heart and chronic kidney disease, benign, without heart failure and with chronic kidney disease stage I through stage IV, or unspecified"
12,4322,40411,Ben hyp ht/kd I-IV w hf,"Hypertensive heart and chronic kidney disease, benign, with heart failure and with chronic kidney disease stage I through stage IV, or unspecified"
13,4323,40412,Ben hy ht/kd st V w/o hf,"Hypertensive heart and chronic kidney disease, benign, without heart failure and with chronic kidney disease stage V or end stage renal disease"
14,4324,40413,Ben hyp ht/kd stg V w hf,"Hypertensive heart and chronic kidney disease, benign, with heart failure and chronic kidney disease stage V or end stage renal disease"
15,4325,40490,Hy ht/kd NOS I-IV w/o hf,"Hypertensive heart and chronic kidney disease, unspecified, without heart failure and with chronic kidney disease stage I through stage IV, or unspecified"
16,4326,40491,Hyp ht/kd NOS I-IV w hf,"Hypertensive heart and chronic kidney disease, unspecified, with heart failure and with chronic kidney disease stage I through stage IV, or unspecified"
17,4327,40492,Hy ht/kd NOS st V w/o hf,"Hypertensive heart and chronic kidney disease, unspecified, without heart failure and with chronic kidney disease stage V or end stage renal disease"
18,4328,40493,Hyp ht/kd NOS st V w hf,"Hypertensive heart and chronic kidney disease, unspecified, with heart failure and chronic kidney disease stage V or end stage renal disease"
19,5909,5851,Chro kidney dis stage I,"Chronic kidney disease, Stage I"
20,5910,5852,Chro kidney dis stage II,"Chronic kidney disease, Stage II (mild)"
21,5911,5853,Chr kidney dis stage III,"Chronic kidney disease, Stage III (moderate)"
22,5912,5854,Chr kidney dis stage IV,"Chronic kidney disease, Stage IV (severe)"
23,5913,5855,Chron kidney dis stage V,"Chronic kidney disease, Stage V"
24,5915,5859,Chronic kidney dis NOS,"Chronic kidney disease, unspecified"
25,7625,75310,Cystic kidney diseas NOS,"Cystic kidney disease, unspecified"
26,7633,75319,Cystic kidney diseas NEC,Other specified cystic kidney disease
27,10970,V1869,Fam hx-kidney dis NEC,Family history of other kidney diseases

In [17]:
# of patients with chronic dialysis
sqlfile = open('C:/Users/310050083/Documents/echo/src/chronic_dialysis.sql', 'r')
#cursor.execute(sqlfile.read(), conn)
#df = pd.read_sql_query(sqlfile.read(), conn)
sql = """
SELECT subject_id, hadm_id, seq_num, icd9_code
  FROM mimiciii.diagnoses_icd
  where icd9_code in (
    '5855' -- Chron kidney dis stage V
    ,'5856' -- End stage renal disease
    , '40301' -- "Mal hyp kid w cr kid V"
    , '40311' -- "Ben hyp kid w cr kid V"
    , '40391' -- "Hyp kid NOS w cr kid V"
    , '40402' -- Mal hy ht/kd st V w/o hf"
    , '40403' -- Mal hyp ht/kd stg V w hf"
    , '40412' -- Ben hy ht/kd st V w/o hf"
    , '40413' -- Ben hyp ht/kd stg V w hf"
    , '40492' -- Hy ht/kd NOS st V w/o hf"
    , '40493' -- Hyp ht/kd NOS st V w hf
    )
  order by subject_id
"""
df = pd.read_sql_query(sql, conn)

In [23]:
print "Number of patients with chronic dialysis"
len(df.subject_id.unique())

Number of patients with chronic dialysis

1928

In [14]:
# getting codes for BNP
sql = """
SELECT row_id, itemid, label, abbreviation, dbsource, linksto, category, 
       unitname, param_type, conceptid
  FROM mimiciii.d_items
  where label like '%BNP%' or label like '%Troponin%'
  order by label;
"""
df = pd.read_sql_query(sql, conn)

In [15]:
df.head()

,row_id,itemid,label,abbreviation,dbsource,linksto,category,unitname,param_type,conceptid
0,4600,7294,BNP,None,carevue,chartevents,None,None,None,None
1,14760,227446,Brain Natiuretic Peptide (BNP),Brain Natiuretic Peptide (BNP),metavision,chartevents,Labs,None,Numeric with tag,None
2,1139,851,Troponin,None,carevue,chartevents,Enzymes,None,None,None
3,14751,227429,Troponin-T,Troponin-T,metavision,chartevents,Labs,None,Numeric with tag,None
4,14079,225622,ZBrain Natiuretic Peptide (BNP),ZBrain Natiuretic Peptide (BNP),metavision,chartevents,Labs,None,Numeric,None

In [24]:
# example of patient with echo who had many fluid entries

sql = """
SELECT *
  FROM mimiciii.inputevents_mv 
  where itemid in (
	 '225158' -- NaCl 0.9%
	,'220949' -- Dextrose 5%
	,'225828' -- LR
	,'225823' -- D5 1/2NS
	,'220862' -- Albumin 25%
	,'220970' -- Fresh Frozen Plasma
	,'225159' -- NaCl 0.45%
	,'220864' -- Albumin 5%
	,'226364' -- OR Crystalloid Intake
	,'220995' -- Sodium Bicarbonate 8.4%
	,'225916' -- TPN w/ Lipids
	,'225825' -- D5NS
	,'225917' -- TPN without Lipids
	,'225161' -- NaCl 3% (Hypertonic Saline)
	,'225827' -- D5LR
	,'225941' -- D5 1/4NS
	,'226371' -- OR Cryoprecipitate Intake
  ) and icustay_id = 241249
  order by subject_id, starttime
  """
df = pd.read_sql_query(sql, conn)

In [26]:
pd.set_option("display.max_rows",101)
df

,row_id,subject_id,hadm_id,icustay_id,starttime,endtime,itemid,amount,amountuom,rate,...,totalamountuom,isopenbag,continueinnextdept,cancelreason,statusdescription,comments_editedby,comments_canceledby,comments_date,originalamount,originalrate
0,1536944,36,165660,241249,2134-05-12 07:07:00,2134-05-12 07:48:00,225158,6.833333,ml,10.000000,...,ml,0,0,0,Stopped,None,None,None,1000.000000,10.000000
1,1536895,36,165660,241249,2134-05-12 07:45:00,2134-05-12 13:59:00,225823,779.166654,ml,124.999998,...,ml,0,0,0,Changed,None,None,None,1000.000000,125.000000
2,1536794,36,165660,241249,2134-05-12 11:00:00,2134-05-13 00:03:00,220949,65.250002,ml,5.000000,...,ml,0,0,0,Changed,None,None,None,250.000000,5.000000
3,1536836,36,165660,241249,2134-05-12 13:59:00,2134-05-13 07:45:00,225823,177.666670,ml,10.000000,...,ml,0,0,0,Stopped,None,None,None,220.833330,10.000000
4,1536958,36,165660,241249,2134-05-12 14:00:00,2134-05-12 14:01:00,220949,100.000000,ml,NaN,...,ml,0,0,0,FinishedRunning,None,None,None,100.000000,0.000000
5,1536894,36,165660,241249,2134-05-12 16:00:00,2134-05-12 22:30:00,225158,13.000001,ml,2.000000,...,ml,0,0,0,Changed,None,None,None,100.000000,2.000000
6,1536965,36,165660,241249,2134-05-12 22:30:00,2134-05-13 05:03:00,225158,19.650002,ml,3.000000,...,ml,0,0,0,Changed,None,None,None,87.000000,3.000000
7,1536889,36,165660,241249,2134-05-12 23:30:00,2134-05-12 23:31:00,225158,500.000000,ml,NaN,...,ml,0,0,0,FinishedRunning,None,None,None,500.000000,500.000000
8,1536914,36,165660,241249,2134-05-13 00:03:00,2134-05-13 06:01:00,220949,53.685472,ml,8.997565,...,ml,0,0,0,Changed,None,None,None,184.750000,9.000000
9,1536854,36,165660,241249,2134-05-13 01:39:00,2134-05-13 01:40:00,225158,500.000000,ml,NaN,...,ml,0,0,0,FinishedRunning,None,None,None,500.000000,500.000000
10,1536859,36,165660,241249,2134-05-13 05:03:00,2134-05-13 06:32:00,225158,2.967401,ml,2.000495,...,ml,0,0,0,Changed,None,None,None,67.349998,2.000000
11,1536923,36,165660,241249,2134-05-13 06:01:00,2134-05-13 17:53:00,220949,131.064519,ml,11.044763,...,ml,0,0,0,Rewritten,None,None,None,131.064530,11.046348
12,1536862,36,165660,241249,2134-05-13 06:01:00,2134-05-13 17:48:00,220949,131.064523,ml,11.122873,...,ml,0,0,0,Rewritten,None,None,None,131.064530,11.124469
13,1536869,36,165660,241249,2134-05-13 06:01:00,2134-05-13 06:02:00,220949,0.184079,ml,11.044763,...,ml,0,0,0,Rewritten,None,None,None,131.064530,11.046348
14,1536950,36,165660,241249,2134-05-13 06:01:00,2134-05-13 06:02:00,220949,0.186171,ml,11.170272,...,ml,0,0,0,Rewritten,None,None,None,131.064530,11.171874
15,1536960,36,165660,241249,2134-05-13 06:01:00,2134-05-13 17:45:00,220949,131.064525,ml,11.170272,...,ml,0,0,0,Rewritten,None,None,None,131.064530,11.171874
16,1536846,36,165660,241249,2134-05-13 06:01:00,2134-05-13 06:02:00,220949,0.185381,ml,11.122872,...,ml,0,0,0,Rewritten,None,None,None,131.064530,11.124469
17,1536888,36,165660,241249,2134-05-13 06:01:00,2134-05-13 17:41:00,220949,131.064528,ml,11.234102,...,ml,0,0,0,FinishedRunning,None,None,None,131.064530,11.235713
18,1536785,36,165660,241249,2134-05-13 06:01:00,2134-05-13 17:56:00,220949,131.064519,ml,10.998421,...,ml,0,0,0,Rewritten,None,None,None,131.064530,11.000000
19,1536820,36,165660,241249,2134-05-13 06:01:00,2134-05-13 06:02:00,220949,0.183307,ml,10.998422,...,ml,0,0,0,Rewritten,None,None,None,131.064530,11.000000
20,1536912,36,165660,241249,2134-05-13 06:26:00,2134-05-13 06:27:00,225158,500.000000,ml,NaN,...,ml,0,0,0,FinishedRunning,None,None,None,500.000000,500.000000
21,1536798,36,165660,241249,2134-05-13 06:32:00,2134-05-13 11:08:00,225158,13.806992,ml,3.001520,...,ml,0,0,0,Changed,None,None,None,64.382599,3.000000
22,1536880,36,165660,241249,2134-05-13 08:13:00,2134-05-15 10:13:00,225158,500.000010,ml,10.000000,...,ml,0,0,2,Rewritten,RN,None,2134-05-15 14:17:00,500.000000,10.000000
23,1536792,36,165660,241249,2134-05-13 08:13:00,2134-05-15 10:05:00,225158,500.000032,ml,10.026739,...,ml,0,0,0,FinishedRunning,None,None,None,500.000000,10.026738
24,1536946,36,165660,241249,2134-05-13 11:08:00,2134-05-15 02:45:00,225158,39.636739,ml,1.000507,...,ml,0,0,0,Stopped,None,None,None,50.575607,1.000000
25,1536811,36,165660,241249,2134-05-13 11:20:00,2134-05-13 11:21:00,225158,500.000000,ml,NaN,...,ml,0,0,0,FinishedRunning,None,None,None,500.000000,500.000000
26,1536791,36,165660,241249,2134-05-13 11:47:00,2134-05-13 11:48:00,220949,150.000000,ml,NaN,...,ml,0,0,0,FinishedRunning,None,None,None,150.000000,0.000000
27,1536830,36,165660,241249,2134-05-13 11:48:00,2134-05-13 11:49:00,225158,500.000000,ml,NaN,...,ml,0,0,0,FinishedRunning,None,None,None,500.000000,500.000000
28,1536801,36,165660,241249,2134-05-13 12:57:00,2134-05-13 12:58:00,220949,50.000000,ml,NaN,...,ml,0,0,0,FinishedRunning,None,None,None,50.000000,0.000000
29,1536918,36,165660,241249,2134-05-13 17:41:00,2134-05-13 20:15:00,220949,28.670365,ml,11.170272,...,ml,0,0,0,Paused,None,None,None,250.000000,11.171874
30,1536876,36,165660,241249,2134-05-13 17:45:00,2134-05-13 19:15:00,220949,16.684308,ml,11.122872,...,ml,0,0,1,Rewritten,None,RN,2134-05-13 21:55:00,250.000000,11.124469
31,1536823,36,165660,241249,2134-05-13 17:48:00,2134-05-13 20:15:00,220949,27.059669,ml,11.044763,...,ml,0,0,1,Rewritten,None,RN,2134-05-13 21:55:00,250.000000,11.046348
32,1536891,36,165660,241249,2134-05-13 17:53:00,2134-05-13 20:15:00,220949,26.029600,ml,10.998422,...,ml,0,0,1,Rewritten,None,RN,2134-05-13 21:16:00,250.000000,11.000000
33,1536970,36,165660,241249,2134-05-13 20:15:00,2134-05-14 16:36:00,220949,223.817896,ml,10.998422,...,ml,0,0,1,Rewritten,None,RN,2134-05-13 21:16:00,223.966660,11.000000
34,1536927,36,165660,241249,2134-05-13 21:15:00,2134-05-14 05:00:00,220949,73.624994,ml,9.499999,...,ml,0,0,0,Changed,None,None,None,221.325530,9.499999
35,1536853,36,165660,241249,2134-05-13 21:16:00,2134-05-14 17:26:00,220949,222.736050,ml,11.044763,...,ml,0,0,1,Rewritten,None,RN,2134-05-13 21:55:00,222.936450,11.046348
36,1536814,36,165660,241249,2134-05-14 05:00:00,2134-05-14 15:05:00,220949,110.971254,ml,11.005414,...,ml,0,0,0,Changed,None,None,None,147.655980,10.999999
37,1536803,36,165660,241249,2134-05-14 14:00:00,2134-05-14 14:01:00,220949,50.000000,ml,NaN,...,ml,0,0,0,FinishedRunning,None,None,None,50.000000,0.000000
38,1536873,36,165660,241249,2134-05-14 15:05:00,2134-05-14 17:54:00,220949,36.733372,ml,13.041434,...,ml,0,0,0,FinishedRunning,None,None,None,36.733376,13.035018
39,1536832,36,165660,241249,2134-05-14 15:05:00,2134-05-14 18:01:00,220949,36.684711,ml,12.506152,...,ml,0,0,0,Rewritten,None,None,None,36.684715,12.499999
40,1536810,36,165660,241249,2134-05-14 15:05:00,2134-05-14 15:06:00,220949,0.208436,ml,12.506152,...,ml,0,0,0,Rewritten,None,None,None,36.684715,12.499999
41,1536826,36,165660,241249,2134-05-14 17:54:00,2134-05-14 22:10:00,220949,53.359580,ml,12.506152,...,ml,0,0,0,Changed,None,None,None,250.000000,12.499999
42,1536931,36,165660,241249,2134-05-14 22:10:00,2134-05-14 22:11:00,220949,0.233294,ml,13.997627,...,ml,0,0,0,Rewritten,None,None,None,196.666670,13.999998
43,1536925,36,165660,241249,2134-05-14 22:10:00,2134-05-15 12:07:00,220949,196.640361,ml,14.096083,...,ml,0,0,0,FinishedRunning,None,None,None,196.640400,14.098473
44,1536920,36,165660,241249,2134-05-14 22:10:00,2134-05-15 12:13:00,220949,196.666640,ml,13.997626,...,ml,0,0,0,Rewritten,None,None,None,196.666670,13.999999
45,1536816,36,165660,241249,2134-05-15 10:05:00,2134-05-16 15:13:00,225158,291.333339,ml,10.000000,...,ml,0,0,0,Stopped,None,None,None,500.000000,10.000000
46,1536937,36,165660,241249,2134-05-15 12:06:00,2134-05-15 12:07:00,220949,100.000000,ml,NaN,...,ml,0,0,0,FinishedRunning,None,None,None,100.000000,0.000000
47,1536905,36,165660,241249,2134-05-15 12:07:00,2134-05-15 15:59:00,220949,54.124159,ml,13.997627,...,ml,0,0,0,Changed,None,None,None,249.999980,13.999998
48,1536929,36,165660,241249,2134-05-15 14:06:00,2134-05-15 14:07:00,220949,50.000000,ml,NaN,...,ml,0,0,0,FinishedRunning,None,None,None,50.000000,0.000000
49,1536882,36,165660,241249,2134-05-15 15:59:00,2134-05-16 01:20:00,220949,141.160705,ml,15.097402,...,ml,0,0,0,Changed,None,None,None,197.272720,15.499997
50,1536850,36,165660,241249,2134-05-16 01:20:00,2134-05-16 04:43:00,220949,56.112007,ml,16.584830,...,ml,0,0,0,Rewritten,None,None,None,56.112011,16.999998
51,1536865,36,165660,241249,2134-05-16 01:20:00,2134-05-16 04:39:00,220949,54.715132,ml,16.497025,...,ml,0,0,0,FinishedRunning,None,None,None,54.715134,16.909994
52,1536939,36,165660,241249,2134-05-16 01:20:00,2134-05-16 01:21:00,220949,0.276414,ml,16.584830,...,ml,0,0,0,Rewritten,None,None,None,56.112011,16.999998
53,1536900,36,165660,241249,2134-05-16 04:39:00,2134-05-16 05:26:00,220949,12.991450,ml,16.584830,...,ml,0,0,0,Paused,None,None,None,250.000020,16.999998
54,1536871,36,165660,241249,2134-05-16 05:26:00,2134-05-16 22:41:00,220949,236.929902,ml,13.735067,...,ml,0,0,0,Rewritten,None,None,None,236.929950,13.999999
55,1536867,36,165660,241249,2134-05-16 06:29:00,2134-05-16 06:32:00,220949,0.829241,ml,16.584830,...,ml,0,0,0,Changed,None,None,None,236.683350,16.999998
56,1536933,36,165660,241249,2134-05-16 06:32:00,2134-05-16 15:13:00,220949,121.652437,ml,14.009878,...,ml,0,0,0,Stopped,None,None,None,235.832990,13.999999
57,1536955,36,165660,241249,2134-05-16 06:35:00,2134-05-16 07:35:00,225158,99.999996,ml,99.999996,...,ml,0,0,0,FinishedRunning,None,None,None,100.000000,100.000000
58,1536910,36,165660,241249,2134-05-16 12:01:00,2134-05-16 12:02:00,220949,100.000000,ml,NaN,...,ml,0,0,0,FinishedRunning,None,None,None,100.000000,0.000000
59,1536783,36,165660,241249,2134-05-16 14:02:00,2134-05-16 14:03:00,220949,50.000000,ml,NaN,...,ml,0,0,0,FinishedRunning,None,None,None,50.000000,0.000000