In [1]:
import numpy as np
import pandas as pd
import psycopg2

import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.style
matplotlib.style.use('ggplot')
%matplotlib inline

In [2]:
echo_ann = pd.read_csv("/Users/yhtgrace/Documents/projects/echo/teemo/resources/echo_ann_unique.csv")
echo_ann.head()

,subject_id,hadm_id,age,gender,new_time,icustay_id,first_careunit,intime,outtime,pulmhtn,...,tv_pulm_htn,tv_tr,lv_cavity,lv_diastolic,lv_systolic,lv_wall,rv_cavity,rv_diastolic_fluid,rv_systolic,rv_wall
0,3,145834,76.0,M,2101-10-21 00:41:00,211552,MICU,2101-10-20 19:10:00,2101-10-26 20:43:00,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,145834,76.0,M,2101-10-21 10:30:00,211552,MICU,2101-10-20 19:10:00,2101-10-26 20:43:00,0,...,NaN,NaN,0.0,NaN,3.0,0.0,0.0,NaN,0.0,0.0
2,3,145834,76.0,M,2101-10-21 11:12:00,211552,MICU,2101-10-20 19:10:00,2101-10-26 20:43:00,0,...,NaN,NaN,0.0,NaN,3.0,0.0,0.0,NaN,NaN,0.0
3,4,185777,47.0,F,2191-03-21 13:10:00,294638,MICU,2191-03-16 00:29:00,2191-03-17 16:46:00,0,...,1.0,NaN,0.0,NaN,0.0,0.0,0.0,NaN,0.0,NaN
4,17,161087,47.0,F,2135-05-09 13:02:00,257980,CSRU,2135-05-09 14:12:00,2135-05-10 11:18:00,0,...,NaN,0.0,0.0,NaN,1.0,0.0,0.0,NaN,2.0,NaN

In [10]:
echo_ann.columns

Index(['subject_id', 'hadm_id', 'age', 'gender', 'new_time', 'icustay_id',
       'first_careunit', 'intime', 'outtime', 'pulmhtn', 'dm', 'esrd',
       'isdead', 'age_of_death', 'days_after_icu_admit_death',
       'days_after_discharge_death', 'status', 'tv_pulm_htn', 'tv_tr',
       'lv_cavity', 'lv_diastolic', 'lv_systolic', 'lv_wall', 'rv_cavity',
       'rv_diastolic_fluid', 'rv_systolic', 'rv_wall'],
      dtype='object')

In [22]:
echo_ann['tv_pulm_htn'].value_counts(dropna = False).sort_index()

-50.0        8
 0.0      4917
 1.0      4379
 2.0      4408
 3.0       657
NaN      18313
Name: tv_pulm_htn, dtype: int64

In [23]:
echo_ann['tv_tr'].value_counts(dropna = False).sort_index()

-50.0      248
 0.0     11930
 1.0      7080
 2.0      4939
 3.0      1497
NaN       6988
Name: tv_tr, dtype: int64

In [12]:
echo_ann['lv_systolic'].value_counts(dropna = False).sort_index()

-50.0      189
-1.0      1570
 0.0     16974
 1.0      2921
 2.0      1867
 3.0      2975
NaN       6186
Name: lv_systolic, dtype: int64

In [13]:
echo_ann['lv_diastolic'].value_counts(dropna = False).sort_index()

-50.0       23
 0.0      1122
 1.0      1672
NaN      29865
Name: lv_diastolic, dtype: int64

In [14]:
echo_ann['lv_cavity'].value_counts(dropna = False).sort_index()

-50.0       29
-1.0       839
 0.0     22457
 1.0      1222
 2.0      1362
 3.0       358
NaN       6415
Name: lv_cavity, dtype: int64

In [15]:
echo_ann['lv_wall'].value_counts(dropna = False).sort_index()

-50.0       65
 0.0     14181
 1.0      8623
 2.0      1298
 3.0       304
NaN       8211
Name: lv_wall, dtype: int64

In [17]:
echo_ann['rv_systolic'].value_counts(dropna = False).sort_index()

-50.0       60
 0.0     21995
 1.0      3476
 2.0      1022
 3.0       820
NaN       5309
Name: rv_systolic, dtype: int64

In [19]:
echo_ann['rv_diastolic_fluid'].value_counts(dropna = False).sort_index()

 1.0     1048
NaN     31634
Name: rv_diastolic_fluid, dtype: int64

In [20]:
echo_ann['rv_cavity'].value_counts(dropna = False).sort_index()

-50.0       69
-1.0       161
 0.0     21684
 1.0      3875
 2.0      1402
NaN       5491
Name: rv_cavity, dtype: int64

In [21]:
echo_ann['rv_wall'].value_counts(dropna = False).sort_index()

 0.0     1707
 1.0      711
NaN     30264
Name: rv_wall, dtype: int64