In [1]:
import numpy as np
import pandas as pd
import psycopg2

import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.style
matplotlib.style.use('ggplot')
%matplotlib inline

In [2]:
# create a database connection
sqluser = 'mimic'
dbname = 'mimic'
schema_name = 'mimiciii'

cur = None

In [8]:
if cur: 
    cur.close()
    con.close()

con = psycopg2.connect(dbname = dbname, user = sqluser)
cur = con.cursor()
cur.execute('SET search_path to ' + schema_name)

In [6]:
query = \
"""
SELECT *
FROM chartevents ce
LEFT JOIN echo_filtered ef 
    ON ce.icustay_id = ef.icustay_id
    WHERE (
        ce.itemid IN ('1394', '226707', '226730')
    )
"""
ce = pd.read_sql_query(query, con)
ce.shape

(24152, 30)

In [7]:
ce.head()

,row_id,subject_id,hadm_id,icustay_id,itemid,charttime,storetime,cgid,value,valuenum,...,intime,outtime,intime_to_echo,echo_to_outtime,ps_vaso,diag_xc,age_at_intime,dob,time_filter,age_filter
0,59460352,4914,145788,236390.0,1394,2141-02-02 12:00:00,2141-02-02 11:40:00,20389,70,70.0,...,2141-01-30 19:59:41,2141-03-18 17:36:16,1 days 13:32:19,45 days 08:04:16,True,False,25737 days 19:59:41,2070-07-23,True,True
1,59460569,4914,145788,236390.0,1394,2141-02-02 16:00:00,2141-02-02 16:27:00,20389,70,70.0,...,2141-01-30 19:59:41,2141-03-18 17:36:16,1 days 13:32:19,45 days 08:04:16,True,False,25737 days 19:59:41,2070-07-23,True,True
2,59457749,4914,145788,236390.0,1394,2141-01-31 12:30:00,2141-01-31 12:40:00,15012,70,70.0,...,2141-01-30 19:59:41,2141-03-18 17:36:16,1 days 13:32:19,45 days 08:04:16,True,False,25737 days 19:59:41,2070-07-23,True,True
3,59457937,4914,145788,236390.0,1394,2141-01-31 16:00:00,2141-01-31 16:01:00,15012,70,70.0,...,2141-01-30 19:59:41,2141-03-18 17:36:16,1 days 13:32:19,45 days 08:04:16,True,False,25737 days 19:59:41,2070-07-23,True,True
4,59459564,4914,145788,236390.0,1394,2141-02-01 20:30:00,2141-02-01 20:40:00,19653,70,70.0,...,2141-01-30 19:59:41,2141-03-18 17:36:16,1 days 13:32:19,45 days 08:04:16,True,False,25737 days 19:59:41,2070-07-23,True,True