In [1]:
import pandas as pd
import numpy as np
import psycopg2
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.set_option("display.max_colwidth", 200)

In [35]:
conn = psycopg2.connect(host="localhost",database="mimic", user="postgres", password='postgres', port = '5432')
cursor = conn.cursor()

In [36]:
# explore fluid input and echo
sql = """
SELECT *
  FROM mimiciii.echo_filtered_mx
  """
df = pd.read_sql_query(sql, conn)

In [37]:
df.describe()

,row_id,icustay_id,hadm_id,subject_id,eage,eage_of_death,edays_after_discharge_death,tv_pulm_htn,tv_tr,lv_cavity,...,hr,mechvent_flg,intime_to_echo,echo_to_outtime,age_at_intime,after_rowid,before_rowid,op_to_icu,icu_to_op,echo_seq
count,1863.000000,1863.000000,1863.000000,1863.000000,1827.000000,393.000000,393.000000,332.000000,1671.000000,1422.000000,...,1065.000000,1863.000000,1863,1863,1863,187.000000,123.000000,187,123,1863.0
mean,84380.847558,249928.833065,150729.929147,46316.456253,63.199562,76.547074,386.651399,0.867470,-0.067026,-0.025316,...,80.502347,0.866345,0 days 06:58:15.631776,4 days 01:52:57.763285,21210 days 10:11:20.963034,81065.914439,83833.853659,185 days 11:25:54.224598,121 days 00:40:35.121951,1.0
std,11648.075843,29201.606126,29441.019546,28728.096511,13.763437,53.042277,597.570513,0.879729,5.408050,2.345746,...,29.606254,0.340373,0 days 11:30:38.573365,7 days 00:11:18.510790,16184 days 17:02:49.540217,14412.561472,12087.781502,291 days 09:17:38.759977,382 days 20:25:32.582024,0.0
min,59680.000000,200003.000000,100024.000000,36.000000,18.000000,18.000000,-4.000000,0.000000,-50.000000,-50.000000,...,40.000000,0.000000,-1 days +16:01:30,0 days 00:59:55,-104004 days +00:57:04.290448,59722.000000,59724.000000,6 days 21:16:00,3 days 01:41:00,1.0
25%,76149.500000,224231.500000,124947.000000,22520.000000,55.000000,55.000000,0.000000,0.000000,0.000000,0.000000,...,65.000000,1.000000,-1 days +23:43:54,1 days 04:02:47,19810 days 06:55:30.500000,67327.000000,73095.000000,61 days 10:45:00,11 days 11:08:30,1.0
50%,85757.000000,250319.000000,150015.000000,43906.000000,64.000000,69.000000,61.000000,1.000000,0.000000,0.000000,...,75.000000,1.000000,0 days 01:43:13,1 days 22:54:05,23413 days 17:37:30,79916.000000,85085.000000,117 days 04:50:00,17 days 23:53:00,1.0
75%,92381.000000,274777.500000,177233.000000,70483.500000,73.000000,79.000000,559.000000,2.000000,1.000000,0.000000,...,93.000000,1.000000,0 days 11:04:54.500000,3 days 08:37:38.500000,26783 days 11:02:53.500000,94833.500000,92870.500000,218 days 12:06:30,38 days 08:17:00,1.0
max,105387.000000,299981.000000,199979.000000,99922.000000,91.600000,309.000000,2952.000000,3.000000,3.000000,3.000000,...,726.000000,1.000000,1 days 23:45:47,98 days 01:50:27,32423 days 02:41:59,104893.000000,105004.000000,2704 days 22:09:00,3105 days 00:58:00,1.0

In [39]:
df.columns

Index([u'row_id', u'charttime', u'icustay_id', u'hadm_id', u'subject_id',
       u'intime', u'outtime', u'chronic_dialysis_flg', u'eage', u'egender',
       u'ecareunit', u'eage_of_death', u'edays_after_discharge_death',
       u'inoutpatient', u'tv_pulm_htn', u'tv_tr', u'lv_cavity',
       u'lv_diastolic', u'lv_systolic', u'lv_wall', u'rv_cavity',
       u'rv_diastolic_fluid', u'rv_systolic', u'rv_wall', u'apsiii',
       u'apsiii_prob', u'apsiii_creatinine_score', u'congestive_heart_failure',
       u'cardiac_arrhythmias', u'valvular_disease', u'pulmonary_circulation',
       u'peripheral_vascular', u'hypertension', u'paralysis',
       u'other_neurological', u'chronic_pulmonary', u'diabetes_uncomplicated',
       u'diabetes_complicated', u'hypothyroidism', u'renal_failure',
       u'liver_disease', u'peptic_ulcer', u'aids', u'lymphoma',
       u'metastatic_cancer', u'solid_tumor', u'rheumatoid_arthritis',
       u'coagulopathy', u'obesity', u'weight_loss', u'fluid_electrolyte',
       u'blood_loss_anemia', u'deficiency_anemias', u'alcohol_abuse',
       u'drug_abuse', u'psychoses', u'depression', u'indication', u'height',
       u'weight', u'bsa', u'bp', u'bpsys', u'bpdias', u'hr', u'test',
       u'doppler', u'contrast', u'technicalquality', u'mechvent_flg',
       u'intime_to_echo', u'echo_to_outtime', u'ps_vaso', u'diag_xc',
       u'age_at_intime', u'after_rowid', u'before_rowid', u'op_to_icu',
       u'icu_to_op', u'time_filter', u'age_filter', u'echo_seq'],
      dtype='object')

In [52]:
np.var([0, 0.0, 1, 0.0, 0.0])

0.16000000000000006