In [1]:
import pandas as pd
import numpy as np
import psycopg2
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.set_option("display.max_colwidth", 200)

In [2]:
conn = psycopg2.connect(host="localhost",database="mimic", user="postgres", password='postgres', port = '5432')
cursor = conn.cursor()

In [3]:
sql = """
SELECT count(distinct icustay_id)
  FROM mimiciii.icustays
  where first_careunit = 'MICU'
  """
df = pd.read_sql_query(sql, conn)
df

   count
0  21088

In [12]:
sql = """
SELECT count(distinct icustay_id)
  FROM mimiciii.icustays
  where first_careunit is not null
  """
df = pd.read_sql_query(sql, conn)
df

   count
0  61532

In [5]:
# disctinct icustays with micu level service
sql = """
SELECT *
  FROM mimiciii.service_type_micu_sicu_nsicu
  """
df = pd.read_sql_query(sql, conn)
df.head()

   icustay_id  micu  sicu  nsicu  cardiac
0      202094     1     0      0        0
1      278938     1     1      0        0
2      270867     1     0      0        0
3      218132     1     1      0        0
4      297033     1     1      0        0

In [10]:
df.icustay_id.nunique()
#table.groupby('YEARMONTH').CLIENTCODE.nunique()

42862

In [13]:
# disctinct icustays with micu level service
sql = """
SELECT count(distinct icustay_id)
  FROM mimiciii.service_type_micu_sicu_nsicu
  where micu = 1
  """
df = pd.read_sql_query(sql, conn)
df

   count
0  18855

In [14]:
# disctinct icustays with sicu level service
sql = """
SELECT count(distinct icustay_id)
  FROM mimiciii.service_type_micu_sicu_nsicu
  where sicu = 1
  """
df = pd.read_sql_query(sql, conn)
df

   count
0   9755

In [15]:
# disctinct icustays with nsicu level service
sql = """
SELECT count(distinct icustay_id)
  FROM mimiciii.service_type_micu_sicu_nsicu
  where nsicu = 1
  """
df = pd.read_sql_query(sql, conn)
df

   count
0   4626

In [16]:
# disctinct icustays with nsicu level service
sql = """
SELECT count(distinct icustay_id)
  FROM mimiciii.service_type_micu_sicu_nsicu
  where cardiac = 1
  """
df = pd.read_sql_query(sql, conn)
df

   count
0  17500

## Disctinct icustays with micu level service and cardiac level of service charted.  these patients should be excluded from further analysis.

In [26]:
# disctinct icustays with micu level service and cardiac level of service charted.  
# these patients should be excluded from further analysis.  
sql = """
SELECT count(distinct icustay_id)
  FROM mimiciii.service_type_micu_sicu_nsicu
  where (micu = 1 or sicu = 1 or nsicu = 1) and cardiac = 1 
  """
df = pd.read_sql_query(sql, conn)
df

   count
0   1418

In [23]:
# icustays with cardiac level of service and MICU charted as first care unit
# are these patients charted 
sql = """SELECT s.icustay_id, micu, sicu, nsicu, cardiac, i.first_careunit
  FROM mimiciii.service_type_micu_sicu_nsicu as s
  join mimiciii.icustays as i
  on s.icustay_id = i.icustay_id
  where s.cardiac = 1 and i.first_careunit = 'MICU'
  """
df = pd.read_sql_query(sql,conn)
df.icustay_id.nunique()

1054

In [24]:
# boarders: patients who received MICU level service but are located elsewhere.  
sql = """SELECT count(distinct ss.icustay_id)
  FROM mimiciii.service_type_micu_sicu_nsicu as ss
  join mimiciii.icustays as ic
  on ss.icustay_id = ic.icustay_id
  where ss.micu = 1 and ss.cardiac = 0 and ic.first_careunit != 'MICU'
    """
df = pd.read_sql_query(sql, conn)
df

   count
0   2455

In [10]:
# boarders: patients who received SICU level service but are located elsewhere.  
sql = """SELECT count(distinct ss.icustay_id)
  FROM mimiciii.service_type_micu_sicu_nsicu as ss
  join mimiciii.icustays as ic
  on ss.icustay_id = ic.icustay_id
  where ss.sicu = 1 and ic.first_careunit != 'SICU'
    """
df = pd.read_sql_query(sql, conn)
df

   count
0   8269

### Not all icustays come with service level charting in chartevents table.

In [16]:
# disctinct icustays with service level charting
sql = """
SELECT count(distinct icustay_id)
  FROM mimiciii.service_type_micu_sicu_nsicu
  """
df = pd.read_sql_query(sql, conn)
df

   count
0  42862

In [17]:
# disctinct icustays with first care unit in icustay
sql = """
SELECT count(distinct icustay_id)
  FROM mimiciii.icustays
  """
df = pd.read_sql_query(sql, conn)
df

   count
0  61532